In [1]:
import csv
import pandas as pd
import numpy as np

In [3]:
with open('/Users/aeriliu/Documents/Columbia/Spring2021/IEOR4511/New Vehicle Data/withclosingprice/0023.txt', 'r') as in_file:
    stripped = (line.strip() for line in in_file)
    lines = (line.split(";") for line in stripped if line)
    with open('/Users/aeriliu/Documents/Columbia/Spring2021/IEOR4511/New Vehicle Data/withclosingprice/0023.csv', 'w') as out_file:
        writer = csv.writer(out_file)
        writer.writerows(lines)

In [4]:
with open('/Users/aeriliu/Documents/Columbia/Spring2021/IEOR4511/New Vehicle Data/withclosingprice/0018.txt', 'r') as in_file:
    stripped = (line.strip() for line in in_file)
    lines = (line.split(";") for line in stripped if line)
    with open('/Users/aeriliu/Documents/Columbia/Spring2021/IEOR4511/New Vehicle Data/withclosingprice/0018.csv', 'w') as out_file:
        writer = csv.writer(out_file)
        writer.writerows(lines)

In [2]:
schwab = pd.read_csv('/Users/aeriliu/Documents/Columbia/Spring2021/IEOR4511/New Vehicle Data/withclosingprice/0023.csv')
mssb = pd.read_csv('/Users/aeriliu/Documents/Columbia/Spring2021/IEOR4511/New Vehicle Data/withclosingprice/0018.csv')

In [3]:
schwab

,Recordtype,Custdianid,Mstracctnumber,Masteraccountname,Prodcode,Prodcatgcode,Taxcode,Lyst,Tickersymbol,Industrytickersymbol,...,Versmrkr1,PI,OI,Versmrkr2,Factor,Factordate,F1,IDArchiveMaster,ClosingPrice,WTType
0,D1,SCHWAB,8275759,SEVENONESEVEN CAPITAL MANAGEME,COM,EQTY,A,cs,ALRM,ALRM,...,VER01.01,N,N,VER01.02,0.0,NaN,NaN,10778,92.04,CSUS
1,D1,SCHWAB,8275759,SEVENONESEVEN CAPITAL MANAGEME,COM,EQTY,A,cs,BIG,BIG,...,VER01.01,N,N,VER01.02,0.0,NaN,NaN,10778,66.54,CSUS
2,D1,SCHWAB,8275759,SEVENONESEVEN CAPITAL MANAGEME,COM,EQTY,A,cs,ENPH,ENPH,...,VER01.01,N,N,VER01.02,0.0,NaN,NaN,10778,165.34,CSUS
3,D1,SCHWAB,8275759,SEVENONESEVEN CAPITAL MANAGEME,COM,EQTY,A,cs,FCX,FCX,...,VER01.01,N,N,VER01.02,0.0,NaN,NaN,10778,37.47,CSUS
4,D1,SCHWAB,8275759,SEVENONESEVEN CAPITAL MANAGEME,COM,EQTY,A,cs,HIBB,HIBB,...,VER01.01,N,N,VER01.02,0.0,NaN,NaN,10778,64.99,CSUS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,D1,SCHWAB,8140678,LOWE BROCKENBROUGH & CO INC,COM,EQTY,A,cs,HPQ,HPQ,...,VER01.01,N,N,VER01.02,0.0,NaN,NaN,10793,30.34,CSUS
19996,D1,SCHWAB,8140678,LOWE BROCKENBROUGH & CO INC,COM,EQTY,A,cs,IBM,IBM,...,VER01.01,N,N,VER01.02,0.0,NaN,NaN,10793,127.14,CSUS
19997,D1,SCHWAB,8140678,LOWE BROCKENBROUGH & CO INC,COM,EQTY,A,cs,ISRG,ISRG,...,VER01.01,N,N,VER01.02,0.0,NaN,NaN,10793,732.00,CSUS
19998,D1,SCHWAB,8140678,LOWE BROCKENBROUGH & CO INC,COM,EQTY,A,cs,KMI,KMI,...,VER01.01,N,N,VER01.02,0.0,NaN,NaN,10793,16.20,CSUS
19999,D1,SCHWAB,8140678,LOWE BROCKENBROUGH & CO INC,COM,EQTY,A,cs,LBRDK,LBRDK,...,VER01.01,N,N,VER01.02,0.0,NaN,NaN,10793,152.25,CSUS

In [4]:
mssb

,Cusip,SymbolOsiSymbol,SecurityDescription,UnderlyingCusip,Sedol,Isin,SPRating,MoodyRating,CurrentFace,OriginalFace,...,BondType,BondStatusInd,AlternateSecurityIndicator,Filler,AdvSecurityType,MaturityDate2,Filler2,idarchivemaster,ClosePrice,WTType
0,001084102,AGCO,A G C O CORP,NaN,2010278,US0010841023,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,CS,NaN,NaN,450,110.9000,CSUS
1,00751Y106,AAP,ADVANCE AUTO PARTS,NaN,2822019,US00751Y1064,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,CS,NaN,NaN,450,149.1400,CSUS
2,00912XAT1,NaN,AIR LEASE CORP 3000 *23SP15,NaN,NaN,US00912XAT19,BBB,NaN,0.0,0.0,...,CA,NaN,CB,NaN,CB,91523.0,NaN,450,105.1480,CBUS
3,026874156,NaN,AMERICAN INTL GRP INC WT 11921,NaN,B430BJ0,US0268741560,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,WT,NaN,NaN,450,0.0452,CSUS
4,052476F52,NaN,AUSTIN TEX WTR BE 5000 *26MY15,NaN,NaN,NaN,AA,AA2,0.0,0.0,...,CA,NaN,MN,NaN,MB,51526.0,NaN,450,115.8540,MBUS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,01212PAJ5,NaN,ALBANY CNTY N BE 5000 23JN01,NaN,NaN,NaN,AA,AA3,0.0,0.0,...,NaN,NaN,MN,NaN,MB,60123.0,NaN,459,111.0680,MBUS
19996,01973R101,ALSN,ALLISON TRANSMN HLDGS INC,NaN,B4PZ892,US01973R1014,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,CS,NaN,NaN,459,42.4900,CSUS
19997,025816109,AXP,AMERICAN EXPRESS CO,NaN,2026082,US0258161092,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,CS,NaN,NaN,459,128.3100,CSUS
19998,025816BS7,NaN,AMERICAN EXPRESS 3400 *23FB27,NaN,NaN,US025816BS73,BBB+,A3,0.0,0.0,...,CA,NaN,CB,NaN,CB,22723.0,NaN,459,105.9280,CBUS
19999,035710409,NLY,ANNALY CAPITAL MANAGEMENT INC,NaN,2113456,US0357104092,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,CS,NaN,NaN,459,8.4600,CSUS

In [5]:
schwab=schwab[['Prodcatgcode','Tickersymbol','CUSIP','ISIN','Optexprdate','Maturitydate','ClosingPrice','WTType']]

In [6]:
mssb = mssb[['Cusip', 'SymbolOsiSymbol', 'Isin', 'MaturityDate','ExDate','AdvSecurityType','ClosePrice','WTType']]

In [7]:
mssb_figi = pd.read_csv('/Users/aeriliu/Documents/Columbia/Spring2021/IEOR4511/figi_0018_final2.csv')
schwab_figi = pd.read_csv('/Users/aeriliu/Documents/Columbia/Spring2021/IEOR4511/figi_0023_final2.csv')

In [8]:
schwab_figi_cusip=schwab_figi[['cusip','type1', 'type2']]
schwab_figi_isin=schwab_figi[['isin','type1', 'type2']]
schwab_figi_ticker=schwab_figi[['tickerSymbol','type1', 'type2']]

In [9]:
schwab_figi_cusip

           cusip         type1         type2
0      011642105  Common Stock  Common Stock
1      089302103  Common Stock  Common Stock
2      29355A107  Common Stock  Common Stock
3      35671D857  Common Stock  Common Stock
4      428567101  Common Stock  Common Stock
...          ...           ...           ...
19995  40434L105  Common Stock  Common Stock
19996  459200101  Common Stock  Common Stock
19997  46120E602  Common Stock  Common Stock
19998  49456B101  Common Stock  Common Stock
19999  530307305  Common Stock  Common Stock

[20000 rows x 3 columns]

In [10]:
mssb.columns = ['cusip','tickerSymbol','isin','maturity','optexp','custodianType','closeprice','WTType']
schwab.columns = ['custodianType','tickerSymbol','cusip','isin','optexp','maturity','closeprice','WTType']

In [13]:
schwab

,custodianType,tickerSymbol,cusip,isin,optexp,maturity,closeprice,WTType
0,EQTY,ALRM,011642105,US0116421050,NaN,NaN,92.04,CSUS
1,EQTY,BIG,089302103,US0893021032,NaN,NaN,66.54,CSUS
2,EQTY,ENPH,29355A107,US29355A1079,NaN,NaN,165.34,CSUS
3,EQTY,FCX,35671D857,US35671D8570,NaN,NaN,37.47,CSUS
4,EQTY,HIBB,428567101,US4285671016,NaN,NaN,64.99,CSUS
...,...,...,...,...,...,...,...,...
19995,EQTY,HPQ,40434L105,US40434L1052,NaN,NaN,30.34,CSUS
19996,EQTY,IBM,459200101,US4592001014,NaN,NaN,127.14,CSUS
19997,EQTY,ISRG,46120E602,US46120E6023,NaN,NaN,732.00,CSUS
19998,EQTY,KMI,49456B101,US49456B1017,NaN,NaN,16.20,CSUS
19999,EQTY,LBRDK,530307305,US5303073051,NaN,NaN,152.25,CSUS

In [25]:
schwab_figi = pd.merge(schwab,schwab_figi_cusip, how ='left', on='cusip')

In [26]:
schwab_figi=schwab_figi.drop_duplicates()

In [27]:
schwab_figi

,custodianType,tickerSymbol,cusip,isin,optexp,maturity,closeprice,WTType,type1,type2
0,EQTY,ALRM,011642105,US0116421050,NaN,NaN,92.0400,CSUS,Common Stock,Common Stock
4,EQTY,BIG,089302103,US0893021032,NaN,NaN,66.5400,CSUS,Common Stock,Common Stock
7,EQTY,ENPH,29355A107,US29355A1079,NaN,NaN,165.3400,CSUS,Common Stock,Common Stock
10,EQTY,FCX,35671D857,US35671D8570,NaN,NaN,37.4700,CSUS,Common Stock,Common Stock
17,EQTY,HIBB,428567101,US4285671016,NaN,NaN,64.9900,CSUS,Common Stock,Common Stock
...,...,...,...,...,...,...,...,...,...,...
83673,DEBT,NaN,9698875D6,NaN,NaN,20300215.0,117.2730,MBUS,FIXED,Muni
83674,DEBT,NaN,973126RC1,NaN,NaN,20230901.0,107.1130,MBUS,FIXED,Muni
83675,DEBT,NaN,973126SX4,NaN,NaN,20290901.0,120.1070,MBUS,FIXED,Muni
83676,DEBT,NaN,98659RAJ7,NaN,NaN,20220715.0,105.1950,MBUS,FIXED,Muni
83677,DEBT,NaN,14042RMX6,US14042RMX60,NaN,20220815.0,102.6988,CDUS,US DOMESTIC,Corp

In [30]:
import csv
schwab_figi.to_csv('/Users/aeriliu/Documents/Columbia/Spring2021/IEOR4511/schwab_figi.csv')

In [20]:
schwab_figi = pd.merge(schwab_figi,schwab_figi_isin, how ='left', on='isin')

In [23]:
schwab_figi = schwab_figi.drop_duplicates()

In [24]:
schwab_figi

,custodianType,tickerSymbol,cusip,isin,optexp,maturity,closeprice,WTType,type1_x,type2_x,type1_y,type2_y
0,EQTY,ALRM,011642105,US0116421050,NaN,NaN,92.0400,CSUS,Common Stock,Common Stock,Common Stock,Common Stock
4,EQTY,BIG,089302103,US0893021032,NaN,NaN,66.5400,CSUS,Common Stock,Common Stock,Common Stock,Common Stock
7,EQTY,ENPH,29355A107,US29355A1079,NaN,NaN,165.3400,CSUS,Common Stock,Common Stock,Common Stock,Common Stock
10,EQTY,FCX,35671D857,US35671D8570,NaN,NaN,37.4700,CSUS,Common Stock,Common Stock,Common Stock,Common Stock
17,EQTY,HIBB,428567101,US4285671016,NaN,NaN,64.9900,CSUS,Common Stock,Common Stock,Common Stock,Common Stock
...,...,...,...,...,...,...,...,...,...,...,...,...
39257933,DEBT,NaN,98659RAJ7,NaN,NaN,20220715.0,105.1950,MBUS,FIXED,Muni,PRIV PLACEMENT,Corp
39258071,DEBT,NaN,98659RAJ7,NaN,NaN,20220715.0,105.1950,MBUS,FIXED,Muni,UIT,Mutual Fund
39258937,DEBT,NaN,98659RAJ7,NaN,NaN,20220715.0,105.1950,MBUS,FIXED,Muni,PUBLIC,Preferred Stock
39259014,DEBT,NaN,98659RAJ7,NaN,NaN,20220715.0,105.1950,MBUS,FIXED,Muni,Closed-End Fund,Mutual Fund
39259514,DEBT,NaN,14042RMX6,US14042RMX60,NaN,20220815.0,102.6988,CDUS,US DOMESTIC,Corp,US DOMESTIC,Corp

In [ ]:
schwab_figi = pd.merge(schwab_figi,schwab_figi_ticker, how ='left')

In [ ]:
schwab_figi