In [1]:
import numpy as np
import pandas as pd

In [2]:
fileList = ['0018.txt', '0023.txt', '0025.txt', '0026.txt', '0033.txt', '0036.txt']

In [3]:
df = pd.DataFrame()

In [4]:
df18 = pd.read_csv(fileList[0], sep=';')
df18 = df18[['Cusip', 'SecurityDescription', 'WTType']]

In [5]:
df23 = pd.read_csv(fileList[1], sep=';')

/home/ruilong96/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (16,23,28,29,32,34) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
df23.loc[:,['Securitydescriptionline1', 'Securitydescriptionline2', 'Securitydescriptionline3']] = df23[['Securitydescriptionline1', 'Securitydescriptionline2', 'Securitydescriptionline3']].fillna('')

In [7]:
df23['SecurityDescription'] = df23[['Securitydescriptionline1', 'Securitydescriptionline2', 'Securitydescriptionline3']].apply(lambda row: '_'.join(row.values.astype(str)), axis=1)

In [8]:
df23 = df23[['SecurityDescription', 'CUSIP', 'WTType']]
df23.columns = ['SecurityDescription', 'Cusip', 'WTType']

In [9]:
df25 = pd.read_csv(fileList[2], sep=';')

In [10]:
df25 = df25[['Description', 'Cusip', 'WTType']]
df25.columns = ['SecurityDescription', 'Cusip', 'WTType']

In [11]:
df26 = pd.read_csv(fileList[3], sep=';')

In [12]:
df26 = df26[['SecurityDescription', 'Cusip', 'WTType']]

In [13]:
df33 = pd.read_csv(fileList[4], sep=';')

In [14]:
df33.loc[:,['DescriptionLine1', 'DescriptionLine2',
       'DescriptionLine3']] = df33[['DescriptionLine1', 'DescriptionLine2',
       'DescriptionLine3']].fillna('')

In [15]:
df33['SecurityDescription'] = df33[['DescriptionLine1', 'DescriptionLine2',
       'DescriptionLine3']].apply(lambda row: '_'.join(row.values.astype(str)), axis=1)

In [16]:
df33 = df33[['SecurityDescription', 'Cusip', 'WTType']]

In [17]:
df36 = pd.read_csv(fileList[5], sep=':')

In [18]:
df36.loc[:,['SecurityDescription1', 'SecurityDescription2',
       'SecurityDescription3', 'SecurityDescription4', 'SecurityDescription5']] = df36[['SecurityDescription1', 'SecurityDescription2',
       'SecurityDescription3', 'SecurityDescription4', 'SecurityDescription5']].fillna(' ')

In [19]:
df36['SecurityDescription'] = df36[['SecurityDescription1', 'SecurityDescription2',
       'SecurityDescription3', 'SecurityDescription4', 'SecurityDescription5']].apply(lambda row: ' '.join(row.values.astype(str)), axis=1)

In [20]:
df36 = df36[['SecurityDescription', 'CUSIPNumber', 'WTType']]

In [21]:
df36.columns = ['SecurityDescription', 'Cusip', 'WTType']

In [22]:
df36

                                    SecurityDescription      Cusip WTType
0                                    ABBVIE INC          00287Y109   CSUS
1                  ALIBABA GROUP HOLDING-SP ADR          01609W102   ADUS
2                           AMERICAN EXPRESS CO          025816109   CSUS
3                            AMPHENOL CORP-CL A          032095101   CSUS
4                  ANHEUSER-BUSCH INBEV-SPN ADR          03524A108   ADUS
...                                                 ...        ...    ...
1799                WISDOMTREE US HIGH DIVIDEND          97717W208   ETUS
1800                                 ZOETIS INC          98978V103   CSUS
1801                                 ZOETIS INC          98978V103   CSUS
1802  ROCHE HOLDING AG-GENUSSCHEIN ISIN CH0012032048...  H69293936   CSCH
1803                                 ATLAS CORP          Y0436Q158   PSUS

[1804 rows x 3 columns]

In [36]:
final = pd.concat([df18,df23,df25,df26,df33,df36])

In [46]:
final = final.reset_index(drop=True)

In [38]:
"2".isnumeric()

True

In [39]:
"daf2d".isalpha()

False

In [40]:
def ConvertNumToToken(word):
    if word.isalpha():
        return word
    else:
        ret = ''
        for char in word:
            if char.isalpha():
                ret += 'c'
            elif char.isnumeric():
                ret += 'i'
            else:
                ret += char
        return ret

In [41]:
def convertEntries(row):
    return " ".join([ConvertNumToToken(word) for word in row.split()])

In [54]:
final['SecurityDescription'] = final['SecurityDescription'][:].apply(lambda x: " ".join([ConvertNumToToken(word) for word in x.split()]))

0                                           ALERIAN MLP ETF
1                                         ACUITY BRANDS INC
2                                      AGILENT TECHNOLOGIES
3                                         AGREE REALTY CORP
4                                       AIR PROD & CHEM INC
                                ...
292477                          WISDOMTREE US HIGH DIVIDEND
292478                                           ZOETIS INC
292479                                           ZOETIS INC
292480    ROCHE HOLDING cc-ccccccccccc ISIN cciiiiiiiiii...
292481                                           ATLAS CORP
Name: SecurityDescription, Length: 292482, dtype: object

In [55]:
final

,Cusip,SecurityDescription,WTType,SecurityDescriptionToken
0,00162Q452,ALERIAN MLP ETF,CSUS,ALERIAN MLP ETF
1,00508Y102,ACUITY BRANDS INC,CSUS,ACUITY BRANDS INC
2,00846U101,AGILENT TECHNOLOGIES,CSUS,AGILENT TECHNOLOGIES
3,008492100,AGREE REALTY CORP,CSUS,AGREE REALTY CORP
4,009158106,AIR PROD & CHEM INC,CSUS,AIR PROD & CHEM INC
...,...,...,...,...
292477,97717W208,WISDOMTREE US HIGH DIVIDEND,ETUS,WISDOMTREE US HIGH DIVIDEND
292478,98978V103,ZOETIS INC,CSUS,ZOETIS INC
292479,98978V103,ZOETIS INC,CSUS,ZOETIS INC
292480,H69293936,ROCHE HOLDING AG-GENUSSCHEIN ISIN CH0012032048...,CSCH,ROCHE HOLDING cc-ccccccccccc ISIN cciiiiiiiiii...
292481,Y0436Q158,ATLAS CORP,PSUS,ATLAS CORP

In [64]:
import pandas as pd
import numpy as np

import lightgbm as lgb
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score, log_loss, precision_score
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
import sklearn

In [70]:
train_X = np.array(final['SecurityDescriptionToken'])

In [71]:
train_y = np.array(final['WTType'].str[:2])

In [72]:
label_encode = LabelEncoder()
train_y = label_encode.fit_transform(train_y)

In [73]:
X_train, X_test, y_train, y_test = train_test_split(train_X, train_y, test_size=0.2, random_state=42)

In [74]:
from sklearn.feature_extraction.text import CountVectorizer
count_vect = CountVectorizer()
X_train_counts = count_vect.fit_transform(X_train)
X_train_counts.shape

(233985, 9436)

In [75]:
from sklearn.feature_extraction.text import TfidfTransformer
tfidf_transformer = TfidfTransformer()
X_train_tfidf = tfidf_transformer.fit_transform(X_train_counts)
X_train_tfidf.shape

(233985, 9436)

In [95]:
from sklearn.pipeline import Pipeline
text_clf = Pipeline([('vect', CountVectorizer()),
                     ('tfidf', TfidfTransformer()),
                      ('clf', MultinomialNB()),
])

text_clf = text_clf.fit(X_train, y_train)

In [96]:
predicted = text_clf.predict(X_test)
np.mean(predicted == y_test)

0.9785117185496692

In [97]:
from sklearn.pipeline import Pipeline
text_clf = Pipeline([('vect', CountVectorizer()),
#                      ('tfidf', TfidfTransformer()),
                      ('clf', MultinomialNB()),
])

text_clf = text_clf.fit(X_train, y_train)

In [98]:
predicted = text_clf.predict(X_test)
np.mean(predicted == y_test)

0.9780843462057883

In [86]:
from sklearn.linear_model import SGDClassifier

In [87]:
text_clf_svm = Pipeline([('vect', CountVectorizer()), ('tfidf', TfidfTransformer()),
                         ('clf-svm', SGDClassifier(loss='hinge', penalty='l2',alpha=1e-3, max_iter=1000, random_state=42))])

In [88]:
text_clf_svm = text_clf_svm.fit(X_train, y_train)
predicted = text_clf_svm.predict(X_test)
np.mean(predicted == y_test)

0.9338598560609945

In [83]:
from sklearn.model_selection import GridSearchCV
parameters = {'vect__ngram_range': [(1, 1), (1, 2)], 'tfidf__use_idf': (True, False), 'clf__alpha': (1e-2, 1e-3)}

In [89]:
gs_clf = GridSearchCV(text_clf, parameters, n_jobs=-1)
gs_clf = gs_clf.fit(X_train, y_train)

/home/ruilong96/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_split.py:667: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  % (min_groups, self.n_splits)), UserWarning)

In [90]:
gs_clf.best_score_
gs_clf.best_params_

{'clf__alpha': 0.001, 'tfidf__use_idf': False, 'vect__ngram_range': (1, 2)}

In [99]:
# Similarly doing grid search for SVM
from sklearn.model_selection import GridSearchCV
parameters_svm = {'vect__ngram_range': [(1, 1), (1, 2)], 'tfidf__use_idf': (True, False),'clf-svm__alpha': (1e-2, 1e-3)}

gs_clf_svm = GridSearchCV(text_clf_svm, parameters_svm, n_jobs=-1)
gs_clf_svm = gs_clf_svm.fit(X_train, y_train)


gs_clf_svm.best_score_
gs_clf_svm.best_params_

/home/ruilong96/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_split.py:667: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  % (min_groups, self.n_splits)), UserWarning)

{'clf-svm__alpha': 0.001, 'tfidf__use_idf': True, 'vect__ngram_range': (1, 1)}